<div class="container">
  <div class="row">
  <div class="col-lg-12">
      <h1>Claim your Dragon!</h1>
        <%@dragons.each do |dragon| %>
            <%= render 'card', dragon: dragon %>
          <% end %>
  </div>
</div>
