// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Dragon Ride Colors - HOTD inspired palette
$black: #090604;
$gold: #F7BD62;
$opac-black: #1F1F1B;
$morgan: #6A2918;
$red: #A2231D;
