// Specific CSS for your home-page
.home-title {
  font-size: 50px;
}

.home-subtitle {
  font-family: $body-font;
}

.body-home {
  width: 100%;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: image-url('syrax.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
