<footer class="my-footer">
  <div class="text-footer">
  Coded with Fire and Blood
  </div>
  <div class="link-footer">
    <a href="https://gameofthrones.fandom.com/wiki/Game_of_Thrones_Wiki">
      <%= image_tag "dragon_gold.png", height: 35 %> GameofThrones Wiki
    </a>
  </div>
</footer>
