<nav class="navbar-dragon navbar-expand-md navbar-dark">
  <%= link_to dragons_path do %>
    <span class="nav-brand">Dragon Pit</span><%= image_tag "dragon_gold.png", height: 35 %>
  <% end %>
</nav>
