.navbar-dragon {
  background-color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 16px;
}

.nav-brand {
  color: $gold;
  font-family: $headers-font;
}
